<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header', {title: 'Pokedex - Home'}) %>
  <body class="flex flex-col bg-amber-400">
    <div class="flex flex-col bg-amber-400 min-h-screen w-full items-center">
      <h1
        class="text-5xl mx-auto pb-4 pt-10"
        style="font-family: 'Bungee Tint', cursive"
      >
        Pokedex
      </h1>
      <div class="grid grid-cols-3 gap-4 mx-auto mt-4">
        <% pokemonList.forEach(pokemon => { %>
        <div
          class="flex flex-col justify-center items-center mx-auto min-w-50 bg-white border border-gray-200 rounded-lg drop-shadow-lg hover:bg-red-200 hover:scale-105 transition-transform duration-300 ease-in-out"
        >
          <a href="<%= pokemon.url %>">
            <img
              class="rounded-t-lg"
              src="<%= pokemon.image %>"
              alt="<%= pokemon.name %>"
            />
          </a>
          <div class="p-5">
            <a href="<%= pokemon.url %>">
              <h5
                class="capitalize mb-2 text-xl font-bold tracking-tight text-orange-800"
                style="font-family: 'Tektur', sans-serif"
              >
                <%= pokemon.name %>
              </h5>
            </a>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
