<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header') %>
  <body>
    <h1 class="text-4xl mx-auto mt-4">Posts</h1>
    <!-- <ul>
      <% posts.forEach(post => { %>
      <li class="mb-10">
        <strong><a href="/post/<%= post.id %>"><%= post.title %></a></strong>
        <br /><%= post.body %>
      </li>
      <% }) %>
    </ul> -->
    <div class="grid grid-cols-3 gap-4">
      <% posts.forEach(post => { %>
      <a
        href="/<%= post.id %>"
        class="my-4 block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
      >
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          <%= post.title %>
        </h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">
          <%= post.body %>
        </p>
      </a>
      <% }) %>
    </div>
    <br />
    <%- include('./partials/footer') %>
  </body>
</html>
